body{
  background-color: #F9F9FB;
  
}
.Notes-list-container{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit,minmax(230px,1fr));
}
@media (min-width:350px) {
  .Notes-list-container{
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  }
}

.text-area-for-note{
  resize: none;
}

