body{
  background-color: #ffd8ff;
}
.Notes-list-container{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit,minmax(230px,1fr));
}
@media (min-width:350px) {
  .Notes-list-container{
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
  }
}
@media (min-width:720px) {
  .Notes-list-container{
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  }
}
.text-area-for-note{
  resize: none;
}
